{% extends 'base.html.twig' %}
{%  form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <div class="container jumbotron">
        <h1 class="text-center papnoel">Cher Papa Noël...</h1>

    {% if errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Erreur !</strong> Ton adresse n'a pas été trouvée... renseignes un endroit avec une cheminée
            accessible !
        </div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_widget(form)}}

    <div class="text-center">
        <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-gift"></span> Confirmer mon adresse et choisir mes
            cadeaux
        </button>
    </div>
    {{ form_end(form) }}
</div>


{% endblock %}