{% extends 'base.html.twig' %}

{% block body %}
    <h1>Merci {{ child.name }}, les elfes se mettent au travail !</h1>

    <a href="/" class="btn btn-primary">Retour à la page d'accueil</a>

{% endblock %}