{% extends 'base.html.twig' %}

{% block body %}
    <h1>Merci {{ child.firstname }}, les elfes se mettent au travail !</h1>

    <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Retour à la page d'accueil</a>

{% endblock %}