.done {
    color: green;
}

.undone {
    color: red;
}

body {
    background: url("../images/4124754-christmas-wallpaper-for-dual-monitor.jpg") no-repeat center bottom fixed;
    background-size: cover;
}

.slogan {
    font-size: 1.5em;
}

.sandyClawsJumb {
    background: rgba(255, 255, 255, 0.5);
    margin-top: 5%;
    position: relative;
}
.list-group-item {
    background: rgba(255, 255, 255, 0.8);
}

.panel-default>.panel-heading {
    background: rgba(255, 255, 255, 0.8);
}

.sandyjumtext {
    color: darkgray;
    font-size: calc(2vw + 10px);
    font-family: 'Kaushan Script', cursive;
}

.jumbsandytext {
    color: white;
    font-size: calc(2vw + 10px);
    font-family: 'Kaushan Script', cursive;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

.sandyJumbCorpse
{
    background-color: #1C385F;
    opacity: 0.8;
    margin-top: 5%;
    position: relative;
}

.jumbPSandy {
    margin-top: 10px;
    font-weight: bold ;

}

.sandyPanelHeading {
    background-color: #2E507E;
}

#map {
    height: 500px;
    width: 100%;
    border-radius: 15px;
}

@media all and (max-device-width: 480px)

{

    .slogan {
        display: none;
    }

    #map {
        height: 400px;
    }
}
